Source: vzctl
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 5), quilt, dietlibc-dev
Standards-Version: 3.7.2

Package: vzctl
Architecture: i386 ia64 amd64 powerpc sparc
Depends: ${shlibs:Depends}, vzquota (>= 2.7.0-4), iproute, procps, pve-cluster, libpve-storage-perl
Recommends: rsync, openssh-client
Description: OpenVZ - server virtualization solution - control tools
 OpenVZ is an Operating System-level server virtualization solution, built
 on Linux. OpenVZ creates isolated, secure virtual private servers (VE) on
 a single physical server enabling better server utilization and ensuring that
 applications do not conflict. Each VE's performs and executes exactly like a
 stand-alone server; VE's can be rebooted independently and have root access,
 users, IP addresses, memory, processes, files, applications, system libraries
 and configuration files.
 .
 This package contain the control tool to manipulate the virtual servers.
 .
 Homepage: http://www.openvz.org/
